.reviewList {
    display: grid;
    grid-template-columns: 19px 1fr 19px;
    grid-template-rows: 20px 1fr 191px;
}
.listHeader {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
.commentList {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.leftYourComment {
    display: grid;
    position: relative;
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    height: 191px;
    background: #F2F2F2;
    grid-template-rows: 28px 63px 1fr 43px 34px;
    grid-template-columns: 19px 1fr 19px;
}
.comment {
    height: 100px;
    background: #F2FBFF;
    border: 1px solid #C4CBCF;
    box-sizing: border-box;
}
.textField {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 2px;
    padding: 1px 5px;
    resize: none;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}
button {
    margin-left: auto;
    margin-right: auto;
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    width: 281px;
    background: #FDD639;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    border: 0px;
    border-radius: 23px;
    color: #333333;
}
button:focus {
    outline: none
}
button:hover {
    background: yellowgreen;
    transition: .2s;
}